#outer {
    background-color: red;
    padding: 10px;
    height: 200px;
    width: 200px;
    margin: 100px auto;
    cursor: pointer;
}

#outer:hover {
    box-shadow: 0px 0px 30px orange;
}

h1 {
    text-align: center;
}